%h1= @administrator.name
%table
  %tbody
    
    - %w( first_name last_name email city phone github linked_in twitter bio).each do |attribute|
      %tr
        %td
          = attribute.split('_').join(' ').capitalize
        %td
          = @administrator.send(attribute)  
%p= link_to '&larr; Back', admin_administrators_path, class: 'button'