%hr
%h2 Comments
= render 'comments/form'

- if comments.empty?
  %hr
  %p
    %em No one has commented on this post yet...
    
- else
  - comments.approved.each do |comment|
    %hr
    = render 'comments/comment', comment: comment