#box
  .banner
    .ribbon.left
    %p= link_to 'FIX IT WITH CODE', root_url
    .ribbon.right
    
#menu
  = link_to 'Blog', posts_url
  &bull;
  = link_to 'RSS', posts_feed_url
  &bull;
  = link_to 'About', administrators_url