#projects
  #index

    .quarter.grid
  
      .column
        .wrapper.white.top.bottom.left
          %ul.side-nav
            - @projects.each do |project|
              %li{ class: "#{'active' if project == @projects.first}"}= project.title
  
      .triple.column
        .wrapper.white.top.bottom.left.right
          
          #project{ 'data-project-id' => ''}
          
            %h1.ribbon#project-title
          
            %p= image_tag('emily.jpeg', width: '100%', id: 'project-photo')
          
            %p#project-content
      
            .pull-right
              %ul
                %li.pull-left= link_to github_icon(50), '#', id: 'project-github'
                %li.pull-left= link_to "LIVE", "#", class: 'live', id: 'project-website'
            .clear

      .clear