$beige: #E0E4CE
$brown: #27191C
$green: #6E9987
$grey: #2D3839
$near_white: ghostwhite
$teal: #126158
$white: white
$orange: darkorange
$black: black

$code: Inconsolata, courier, sans-serif
$normal: Galdeano, helvetica neue, helvetica, sans-serif
$script: Allura, times, serif

@mixin grey-box-shadow
  box-shadow: 0px 0px 5px $beige
  -moz-box-shadow: 0px 0px 5px $beige
  -webkit-box-shadow: 0px 0px 5px $beige

@mixin border-radius-2
  border-radius: 2px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px

@mixin border-radius-4
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px

@mixin border-radius-200
  border-radius: 200px
  -moz-border-radius: 200px
  -webkit-border-radius: 200px

body
  background: url('central_park.jpg') 
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: 100% 100% 
  font-family: $code

.container
  width: 960px
  min-height: 850px
  margin: 0px auto
  padding-bottom: 20px
  background-color: $near_white
  box-shadow: 0px 0px 50px $black
  -moz-box-shadow: 0px 0px 50px $black
  -webkit-box-shadow: 0px 0px 50px $black

.pull-left
  float: left

.pull-right
  float: right

a
  text-decoration: none
  color: $teal
    
  &:hover
    color: $orange
    
  img:hover
    opacity: 0.6
    
h1
  font-size: 30px
  line-height: 40px
  padding: 10px 20px 

h2
  font-size: 26px
  line-height: 36px
  margin: 5px 0px

h3
  font-size: 22px
  line-height: 32px
  margin: 5px 0px 0px

h4
  font-size: 18px
  line-height: 28px

hr
  margin-left: -20px
  margin-right: -20px
  height: 1px
  border: none
  border-top: 1px solid $beige
  

em
  font-style: italic

code
  font-family: $code
  font-size: 14px
  line-height: 20px
  white-space: pre-wrap

p > code, pre > code
  display: block
  padding: 10px
  background-color: $near_white
  border: 1px solid $beige

p
  font-family: $normal
  margin: 15px 0px
  font-size: 16px
  line-height: 26px

  &.notice
    padding: 5px 10px
    background-color: $green
    color: $white

  &.code
    font-family: $code
  
  &.right
    text-align: right
  
  &.grey
    color: $grey
  
  &.icon
    margin: 2px 0px
  
    img
      position: relative
      top: 8px
      margin-right: 8px
  
  &.small
    font-size: 14px
    line-height: 24px

span
  
  &.small
    font-size: 14px