$brown: #27191C
$grey: #2D3839
$teal: #126158
$green: #6E9987
$beige: #E0E4CE
$white: ghostwhite

$script: Allura
$code: Inconsolata
$normal: Galdeano

html	
	height: 100%
	
	body
		background: url('central_park.jpg') 
		background-repeat: no-repeat
		background-attachment: fixed
		background-size: 100% 100% 
		font-family: $code, 'courier new', courier, serif
		height: 100%
		
.container
	margin: 0px auto 
	width: 960px
	background: ghostwhite
	box-shadow: 0px 0px 50px $brown
	min-height: 100%

.content
	margin-top: 0px
	padding: 20px
	min-height: inherit

.pull-left
	float: left

.pull-right
	float: right

.clear
	clear: both

a 
	text-decoration: none
	color: $teal
	&:hover
		color: darkorange
	
h1
	font-size: 24px
	line-height: 34px

h2
	font-size: 22px
	line-height: 32px
	
h3
	font-size: 20px
	line-height: 30px
	
p
	font-size: 16px
	line-height: 26px
	
code
	font-family: $code
	padding: 5px 10px
	border: 1px solid $grey
	border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	background: ghostwhite
	margin: 10px 0px