::selection  
	color: #42b7fd 

#box 
	width: 1300px
	margin: 20px auto
	padding: 0
	text-align: center
	position: relative

.banner 
	width: 1200px
	height: 75px
	background: $teal
	margin-left: 50px
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
	border-top: 1px solid $grey
	border-bottom: 1px solid $grey

.banner p 
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300
	font-size: 45px
	text-transform: capitalize
	color: #fff
	margin: 8px 0px 0px
	padding: 14px
	text-shadow: 3px 3px 3px $grey


.banner:before 
	content: ""
	position: absolute
	bottom: -50px
	left: 50px
	width: 0
	height: 0
	border-right: 70px solid $grey
	border-top: 0px solid transparent
	border-bottom: 50px solid transparent


.banner:after 
	content: ""
	position: absolute
	bottom: -50px
	right: 50px
	width: 0
	height: 0
	border-left: 70px solid $grey
	border-top: 0px solid transparent
	border-bottom: 50px solid transparent


.ribbon 
	width: 120px
	height: 75px
	background: $teal
	position: absolute
	z-index: -2


.ribbon.left 
	top: 53px
	left: 0


.ribbon.left:before 
	content: ""
	position: absolute
	left: -29px
	top: 0
	width: 0
	height: 0
	border-right: 30px solid $teal
	border-top: 0 solid transparent
	border-bottom: 37.5px solid transparent


.ribbon.left:after 
	content: ""
	position: absolute
	left: -29px
	bottom: 0
	width: 0
	height: 0
	border-right: 30px solid $teal
	border-top: 37.5px solid transparent
	border-bottom: 0 solid transparent


.ribbon.right 
	top: 53px
	right: 0


.ribbon.right:before 
	content: ""
	position: absolute
	right: -29px
	top: 0
	width: 0
	height: 0
	border-left: 30px solid $teal
	border-top: 0 solid transparent
	border-bottom: 37.5px solid transparent


.ribbon.right:after 
	content: ""
	position: absolute
	right: -29px
	bottom: 0
	width: 0
	height: 0
	border-left: 30px solid $teal
	border-top: 37.5px solid transparent
	border-bottom: 0 solid transparent
