$carousel-width: 820px; /* (item width + margin) * number of times shown */
$negative-item-width-and-margin: -820px;
$item-width: 760px;
$item-height: 500px;
$item-margin: 30px;

.projects {
  #carousel_inner {  
    float:left; /* important for inline positioning */  
    width:$carousel-width; /* important (this width = width of list item(including margin) * items shown */  
    overflow: hidden;  /* important (hide the items outside the div) */  
    /* non-important styling bellow */  
    background: none;  
  }  
  
  #carousel_ul {  
    position:relative;  
    left:$negative-item-width-and-margin; /* important (this should be negative number of list items width(including margin) */  
    list-style-type: none; /* removing the default styling for unordered list items */  
    margin: 0px;  
    padding: 0px;  
    width:9999px; /* important */  
    /* non-important styling bellow */  
    padding-bottom:10px;  
  }  
  
  #carousel_ul li{  
    float: left; /* important for inline positioning of the list items */  
    width:$item-width;  /* fixed width, important */  
    /* just styling bellow*/  
    padding:0px;  
    height:$item-height;  
    background: none;  
    margin:10px $item-margin;  
  }  
  
  #carousel_ul li img {  
    .margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/  
    /* styling */  
    cursor:pointer;  
    cursor: hand;  
    border:0px;  
    float: left;
    @include border-radius-4;
  }  
  
  #carousel_ul li .text { 
    float: left;
    width:340px;
    height: 500px;
    padding: 0px 20px;
    h1 {
      margin-bottom: 20px;
    }
    p {
      font-family: $normal;
    }
    .links {
      margin: 20px 0px 20px -10px;
      a {
        margin-left: 10px;
        &:hover {
          opacity: 0.6;
        }
        &:hover img {
         opacity: 0.6; 
        }
      }
      img {
        @include border-radius-4;
        margin-left: 10px;
      }
      a.live {
        background: -webkit-radial-gradient(orange, darkorange);
        width: 45px;
        height: 37px;
        float: left;
        @include border-radius-4;
        font-family: $normal;
        font-size: 24px;
        color: white;
        text-shadow: 0px 0px 3px black;
        padding-top: 13px;
        padding-left: 5px;
      }
    }
  }
  
  #left_scroll, #right_scroll{  
    float:left;  
    height:520px;  
    width:50px;  
    background: none;  
  }  
  #left_scroll img, #right_scroll img{  
    /*styling*/  
    cursor: pointer;  
    cursor: hand;  
    position: relative;
    top: 95px;
/*    top:185px;*/
  }
  #left_scroll img {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
  }
}